{%extends "index.html"%}
{%block content%}
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">>
</head>
<body>
<div class = container>
<h1 class=""> About Page</h1>
<p style="text-align: center;">Lorem ipsum dolor sit amet,
consectetur<br>
adipiscing elit,
sed do eiusmod tempor incididunt ut labore et
dolore magna aliqua<br>.
Ut enim ad minim veniam, quis nostrud
exercitation ullamco laboris<br>
nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in <br>
voluptate velit esse
cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat<br>
cupidatat non proident,
sunt in culpa qui officia deserunt
mollit anim id est laborum. </p>
</div>
</body>
</html>
{%endblock%}
